body{
    margin: 0;
    padding: 0;
    background-image: url("src/background.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden; /* Prevent horizontal scroll during animation */
}

.page-transition {
    position: relative;
    transition: transform 0.3s ease;
  }
  
  .slide-out {
    transform: translateX(-100%);
  }
  
  .slide-in {
    transform: translateX(100%);
  }

.background-escurecido {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: -1;
}

header button{
    padding: 0;
    background:none;
    border: 0;
}

header{
    display: flex;
    justify-content: space-between;
}

h1{
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 40px;
    margin-left: 3vh;
    font-weight: lighter;
}

.voltar{
    margin-top: 3vh;
    width: 240px;
    margin-right: 5vw;
    cursor: pointer;
}

.voltar:hover{
    transition: box-shadow 0.5s ease;   
    box-shadow: 0 0px 60px rgba(237, 12, 12, 100);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;

}

h2{
    font-family: 'Press Start 2P', cursive;
    font-size: 36px;
    color: white;
    font-weight: lighter;
    margin-bottom: 20px;
    margin-top: 80px;
    text-align: center;
}

.formulario{
    border: 2px solid;
    background-color: rgb(199, 199, 196);
}




/* Responsividade*/
@media (max-width: 480px) {
    body{
        display: flex;
        flex-direction: column;
    }
    
    .voltar{
        width: 140px;
    }

    h1{
        font-size: 24px;
    }

    h2{
        font-size: 16px;
    }
    

}