body{
    margin: 0;
    padding: 0;
    background-image: url("background.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background-escurecido {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: -1;
}

button{
    padding: 0;
    background:none;
    border: 0;
}

header{
    display: flex;
    justify-content: space-between;
}

h1{
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 40px;
    margin-left: 3vh;
    font-weight: lighter;
}

.voltar{
    margin-top: 3vh;
    width: 30vh;
    margin-right: 5vw;
}

.voltar:hover{
    transition: box-shadow 0.5s ease;   
    box-shadow: 0 0px 60px rgba(237, 12, 12, 100);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
    color: white;
    font-weight: lighter;
    margin-bottom: 1vh;
}

.formulario{
    border: 2px solid;
    padding: 7vh 5vw 0;
    background-color: rgb(199, 199, 196);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5vh;
}

.input{
    padding: 2vh;
    width: 50vw;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 25px;
}

.entrar{
    width: 30vh;
    background: none;
    border: 0;
}

.entrar:hover{
    transition: box-shadow 0.5s ease;   
    box-shadow: 0 0px 60px rgba(237, 12, 12, 100);
}

.cadastrar{
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    color: black;
    padding-top: 2vh;
    font-size: 15px;
}



/* Responsividade*/
@media (min-width: 1024px) {
    h1{
        text-align:unset;
        margin-left: 3vh;
    }
    .input{
        width: 30vw;
    }
}