
body {
  margin: 0;
  padding: 0;
  background-image: url("src/background.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden; /* Prevent horizontal scroll during animation */
}

.page-transition {
  position: relative;
  transition: transform 0.3s ease;
}

.slide-out {
  transform: translateX(-100%);
}

.slide-in {
  transform: translateX(100%);
}

.background-escurecido {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  z-index: -1;
}

header{
  display: flex;
  justify-content: space-between;
}

header button{
  padding: 0;
  background:none;
  border: 0;
}

.voltar{
  margin-top: 3vh;
  width: 240px;
  margin-right: 5vw;
  cursor: pointer;
}

.voltar:hover{
  transition: box-shadow 0.5s ease;   
  box-shadow: 0 0px 60px rgba(237, 12, 12, 100);
}

h1{
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 40px;
  margin-left: 3vh;
  font-weight: lighter;
}

main{
  width: 100%;
  display: flex;
  gap: 72px;
  margin: 40px;
}

.columnOne{
  display: flex;
  flex-direction: column;
  width: 20%;
  padding-left: 8px;
}

.ranking{
  text-align:left;
  background:none;
  border: none;
  cursor: pointer;
  padding: 0px;
}

.ranking h3{
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
  color: white;
  font-weight: lighter;
  margin-bottom: 8px;
}

.ranking img{
  width: 144px;
}

.personagem h3{
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
  color: white;
  font-weight: lighter;
}

.columnOne p{
  font-family: 'Press Start 2P', cursive;
  color: green;
  font-size: 16px;
  font-weight: bold;
}

.personagem img{
  text-align: left;
  width: 176px;
  cursor: pointer;
}

.columnTwo{
  width: 40%;
  margin-top: -32px;
}

.columnTwo h2{
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 32px;
  background-color: none;
  margin: 0;
  font-weight: lighter;
}

.local-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 5px rgb(145, 37, 55) dotted;
  border-radius: 20px;
  backdrop-filter: blur(20px);
}

.seta1{
  width: 32px;
  transform: rotate(-90deg);
  margin-top: 8px;
  cursor: pointer;
}

.seta1:hover{
  box-shadow: 0 0 40px white;
}

.local-imagem{
  width: 360px;
}

.textos{
  display: flex;
  justify-content: space-between;
}

.textos h3{
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
  color: rgb(255, 255, 255);
}

.textos p{
  font-size: 16px;
}

.container {
  display: flex;
  align-items: center;
}

.gif {
  width: 35px;
  margin-left: 5px;
  margin-top: -30px;
}

.seta2{
  width: 32px;
  transform: rotate(90deg);
  margin-bottom: 8px;
  cursor: pointer;
}

.seta2:hover{
  box-shadow: 0 0 40px white;
}

.columnThree{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 64px; 
  background-color: transparent;
  border: 5px rgb(145, 37, 55) dotted;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  width: 28%;
}


.columnThree h3{
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: lighter;
}

.square{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: 3px rgb(145, 37, 55) dotted;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  width: 240px;
}

.square h4{
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
  color: rgb(255, 255, 255);
  text-align: left;
  font-weight: lighter;
  margin: 8px;
}

.columnThree img{
  width: 224px;
  margin-bottom: 8px
}

@media (max-width: 480px) {
  .voltar{
    width: 140px;
  }

  h1{
    font-size: 24px;
  }

  main{
    flex-direction: column;
    align-items: center;
  }

  .columnOne{
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 24px;
  }
  
  .ranking{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left:24px;
    padding: 0 24px 0;
    text-align: center;
    gap: 24px;
  }
  
  .ranking h3{
    font-family: 'Press Start 2P', cursive;
    font-size: 13px;
    color: white;
    font-weight: lighter;
    text-decoration: none;
  }
  
  .ranking img{
    width: 64px;
    margin-bottom: 16px;
  }

  .personagem{
    text-align:center;
    margin-right: 24px;
    margin-left: 24px;
  }

  .personagem h3{
    font-family: 'Press Start 2P', cursive;
    font-size: 13px;
    color: white;
    font-weight: lighter;
  }
  
  .columnOne p{
    font-family: 'Press Start 2P', cursive;
    color: green;
    font-size: 12px;
    font-weight: bold;
  }
  
  .personagem img{
    text-align: left;
    width: 88px;
  }

  .columnTwo{
    width: 95%;
    margin-top: 32px;
    margin-left: 24px;
    margin-right: 24px;
  }
  
  .columnTwo h2{
    font-size: 16px;
  }
  

  .seta1{
    width: 24px;
    transform: rotate(-90deg);
    margin-top: 8px;
  }
  
  .local-imagem{
    width: 70vw;
  }
 
  .textos h3{
    font-size: 14px;
  }
  
  .textos p{
    font-size: 12px;
  }
  
  .container {
    display: flex;
    align-items: center;
  }
  
  .gif {
    margin-top: 2px;
    width: 20px;
  }
  
  .seta2{
    width: 24px;
    transform: rotate(90deg);
    margin-bottom: 8px;
  }
  
  .seta2:hover{
    box-shadow: 0 0 40px white;
  }

  .columnThree{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    width:95%;
    margin-bottom: 24px;
  }

  .columnThree h3{
    font-size: 16px;
  }

  .square h4{
    font-size: 16px;
  }

  .square{
    width: 112px;
  }

  .columnThree img{
    width: 80px;
  }
}
